:root {
  --bgclr-main: #8fbedf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
button {
  margin: 0;
  background-color: var(--bgclr-main);
  font-family: 'Balsamiq Sans';
}

/* Whole Container */

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  border: #fff solid 1px;
}

.title {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1em;
}

/* Grid Container */

.calculator-grid-container {
  /* border: 1px solid #fff; */
  max-width: 350px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: 100px, auto;
  grid-template-areas:
    'clear plusminus percentage divide'
    'seven eight nine multiple'
    'four five six minus'
    'one two three plus'
    'item-zero item-zero point equals';
}

/* Grid Items */
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #fff solid 1px;
  aspect-ratio: 1/1;
}

/* Grid Areas for Items */

.clear {
  grid-area: clear;
}

.plusminus {
  grid-area: plusminus;
}

.percentage {
  grid-area: percentage;
}

.divide {
  grid-area: divide;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.multiple {
  grid-area: multiple;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.subtract {
  grid-area: minus;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.item-zero {
  grid-area: item-zero;
  aspect-ratio: 2/0.94;
}

.point {
  grid-area: point;
}

.equals {
  grid-area: equals;
}

button {
  display: block;
  color: #fff;
  font-size: 2.5rem;
  border: none;
  background-color: var(--bgclr-main);
}

button:hover {
  cursor: pointer;
}
